{% include base_path %}

<!-- Favicon and Apple Touch Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/sjtu.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/images/sjtu.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ base_path }}/images/sjtu.png">
<link rel="manifest" href="{{ base_path }}/images/manifest.json">
<link rel="mask-icon" href="{{ base_path }}/images/sjtu.png" color="#000000">
<meta name="theme-color" content="#ffffff">

<!-- Microsoft Tiles -->
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="{{ base_path }}/images/sjtu.png">
<meta name="msapplication-config" content="{{ base_path }}/images/browserconfig.xml">

<!-- Additional Stylesheets and Scripts -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css">
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>